<app-jwt></app-jwt>
<!-- <span><h2>{{title}} app is running</h2></span> 

<div class="container">
    <h4>Parent Component</h4>


    <p>
        To send whatever is entered in the text field to child component<br/>
        Enter the name:
        <input type="text" class="form-control" [(ngModel)]="EnterName"/> 
        Enter the age:
        <input type="text" class="form-control" [(ngModel)]="EnterAge"/> 
        Enter the Marital Status:
        <input type="text" class="form-control" [(ngModel)]="EnterStatus"/> -->
         <!-- Enter date of birth:
        <input type="text" class="form-control" [(ngModel)]="Enterdob"/> 
        Enter Occupation:
        <input type="text" class="form-control" [(ngModel)]="EnterOccupation "/>   -->
    
        <!-- <input type="button" value="send" (click)="transferData()" class="btn btn-primary" > 

    </p>

    <app-home
    [parentData1]="parentData1"
    [parentData2]="parentData2"
    [parentData3]="parentData3"
    

    ></app-home> 


     <h4>Recieved from Child {{value}}</h4>
<app-about (sendData)="sendData($event)"></app-about>
</div>  -->
<!-- <app-pro-parent></app-pro-parent> -->
<!-- <app-jwt></app-jwt> -->